.span {
  text-decoration: underline;
}
.a {
  color: inherit;
}
.p {
  margin: 0;
}
.day {
  top: 286.2px;
  left: 629.1px;
}
.a31500010000Container,
.day,
.div {
  position: absolute;
  display: inline-block;
  width: 215.3px;
  height: 75px;
}
.a31500010000Container {
  top: 284px;
  left: calc(50% - 112.5px);
}
.div {
  top: 286px;
  left: 37.4px;
}
.newsTopicChild {
  position: absolute;
  top: 0;
  left: 263.1px;
  width: 266px;
  height: 260px;
}
.linkedEllipse6 {
  position: absolute;
  top: 4px;
  left: calc(50% - 145.1px);
  width: 250px;
  height: 251.3px;
  object-fit: cover;
}
.newsTopicItem {
  position: absolute;
  top: 44px;
  left: 611.5px;
  width: 194.9px;
  height: 190px;
}
.newsTopic,
.newsTopicInner {
  position: absolute;
  top: 16.7px;
  left: 0;
  width: 250.5px;
  height: 250.1px;
}
.newsTopic {
  top: 149px;
  left: 308.2px;
  width: 844.4px;
  height: 361.2px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: inherit;
  font-family: var(--font-inter);
}
